[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = git@github.com:scythemenace/1XC3_L03.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = git@github.com:scythemenace/1XC3_L07.git
[submodule "L08/github_actions"]
	path = L08/github_actions
	url = git@github.com:scythemenace/github_actions.git
[submodule "L08/cont_integration"]
	path = L08/cont_integration
	url = git@github.com:scythemenace/cont_integration.git
